@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-text-heading;
  }

  body {
    @apply font-body text-text-body bg-background;
  }
}